@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .main-link{
        @apply px-big py-small border border-black text-black hover:text-main hover:bg-black transition-all
    }
}

@font-face {
    font-family: "Unnamed";
    src: url("@/assets/fonts/Unnamed-Light.woff2") format("woff2"), url("@/assets/fonts/Unnamed-Light.woff") format("woff"), url("@/assets/fonts/Unnamed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unnamed";
    src: url("@/assets/fonts/Heming.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("@/assets/fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("@/assets/fonts/SpaceGrotesk-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("@/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 300 700;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: #e3d2fa;
    background: black;
}

::selection {
    color: #e3d2fa;
    background: black;
}

body {
    font-family: "Space Grotesk", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: #e3d2fa;
}

input * {
    background: white !important;
}

.clip-path-circle {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.clip-path-circle.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

a {
    transition: 0.3s all ease-in-out;
    font-weight: normal;
}

.active-link,
.router-link-exact-active {
    font-weight: 900;
}

.fade-in-enter-active,
.fade-in-leave-active {
    transition: opacity 0.5s;
}

.fade-in-enter,
.fade-in-leave-to {
    opacity: 0;
}

input:focus {
    border: none;
    outline: none;
}

.full-height {
    height: 100dvh;
    min-height: -webkit-fill-available;
}

p {
    margin-bottom: 1rem;
}

.brutalist-shadow {
    background-color: white;
    border: 1px solid black;
    position: relative;
}

.brutalist-shadow:hover {
    outline: 2px solid black;
}

.brutalist-shadow:after {
    content: "";
    position: absolute;
    background-color: black;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

input {
    font-family: Arial, Helvetica, sans-serif !important;
}

.Vue-Toastification__toast {
    border: 1px solid black;
    position: relative;
    border-radius: 0 !important;
    box-shadow: 0 !important;
    z-index: 2;
    background-color: #e3d2fa !important;
    color: black !important;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}